@import url("./login-style.css");
:root {
    --bg: rgb(245, 222, 179);
    --button-shaddow: 0 2px 5px 2px rgb(152, 144, 133);
    font-size: 24px;
}

body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background-color: var(--bg);
}

.todo-list {
    position: relative;
    top: 10vh;
    min-height: 70vmin;
    max-width: 60vmax;
    margin: 0 auto;
    border-style: groove;
}

.filter-group {
    display: flex;
    flex-wrap: wrap;
    min-height: 4rem;
    justify-content: center;
    align-items: center;
}

.filter-group > * {
    border: 2px solid #acacac;
    margin: 2px;
    width: 15vh;
    background-color: var(--bg);
    font-size: 1rem;
}

.list > ul{
    margin: auto 0 5% 0;
    padding-left: 10%;
    list-style: none;
    line-height: 2rem;
}

.check-done {
    margin-right: 24px;
    outline-color: wheat;
}

.remove-button {
    background-color: var(--bg);
    color: red;
    border: none;
    height: 1rem;
    margin-left: 1rem;
    font-size: 0.5rme;
}

.insert-area {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end
}

.insert-place {
    background-color: var(--bg);
    border: none; 
    font-size: 1rem;
}

.insert-area :focus {
    color: brown;
    outline: 1px solid rgba(128, 0, 128, 0.543);
}

.insert-area button {
    height: 1rem;
    font-size: 0.5rem;
    box-shadow: var(--button-shaddow);
    background-color: var(--bg);
}

.is-click {
    background-color: rgb(218, 192, 143)
}